<section class="produtos">
  <h2 class="titulo-produto"> {{ collections['confira-nossos-produtos'].title }}</h2>

{% for product in collections['confira-nossos-produtos'].products %}

      <a class="card-produto" href="{{ product.url }}">
        <img class="imagem-produto" src="{{ product | image_url}}">
        <h3 class="nome-produto">{{ product.title }}</h3>
        <p class="preco-produto">{{ product.price | money }}</p>
        <button>Compre Agora!</button>
      </a>

{% endfor %}

</section>


<style>
  .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 80px;
    width: 100%;
  }

  .titulo-produto {
    margin-bottom: 50px;
    width: 100%;

    font-family: var(--bold);
    font-size: 70px;
    text-align: center;

    background: linear-gradient(90deg, var(--cor-verde-principal), var(--cor-verde-principal-hover));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titulo-produto::selection {
    background: rgba(0, 0, 0, 0.15);
    color: inherit;
  }

  .card-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-produto .nome-produto {
    margin-top: 10px;

    font-size: 25px;
    font-family: var(--light);
    color: var(--cor-preto);
  }

  .card-produto .preco-produto {
    font-size: 20px;
    font-family: var(--bold);
    color: var(--cor-verde-principal);
  }

  .imagem-produto{
    width: 400px;
    height: 450px;
    border-radius: 50px;
  }

  .card-produto button {
    margin-top: 20px;

    width: 350px;
    height: 50px;
    border-radius: 50px;

    background-color: var(--cor-verde-principal);
    font-family: var(--bold);
    font-size: 20px;

    margin-bottom: 70px;
  }

</style>

<script></script>





















</section>

<style>
  section.produtos {
    display: flex;
  }
</style>

<script></script>
