{% comment %} <section class="produto">

<h1>{{ product.title }}</h1>
<p>{{ product.price | money }}</p>
<div>
  {{ product.description }}
</div>

{% form 'product', product%}
  <select id="name">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}">
            {{variant.title}}
        </option>
      {% endfor %}
  </select>
{%endform%}


</section>






<style>

.produto{
  margin-top: 400px;
}
</style>

<script></script> {% endcomment %}
